* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#page {
    margin: 0;
}

#h-group h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 4.5rem;
}

#h-group h5 {
    margin-top: 6vh;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

#h-group {
    z-index: 3;
    color: #E7CADE;
}

#page {
    padding: 0;
}

#masthead {
    height: 100vh;
}

#video {
    position: absolute;
    right: 0;
    bottom: -30%;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navi-color {
    background-color: rgba(21, 19, 21, 0.8) !important;
}

#masthead-head {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    position: relative;
}

.margin-auto {
    margin: auto;
}


.icon-down {
    color: #6E3564;
    width: 45px;
    height: 45px;
    border: 3px solid #2A142F;
    transform: translateX(-50%);
    bottom: 3vh;
    position: absolute;
    border-radius: 50%;
    font-size: 2rem;
    left: 50vw;
    text-align: center;
    text-shadow: 0 12px 0 #6E3564, 0 24px 0 #6E3564;
    overflow: hidden;

}

.fa-angle-down {
    animation: arrow-down 2s infinite linear;
}

.icon-down:hover {
    text-shadow: 0 12px 0 #E7CADE, 0 24px 0 #E7CADE;
    color: #E7CADE;
}

@keyframes arrow-down {
    0% {
        transform: translateY(-60px)
    }
    50% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(60px)
    }
}


#weather-page {
    letter-spacing: 0.2em;
    height: 100vh;
    background: linear-gradient(to bottom, #010001, #350832);
    position: relative;
    overflow: hidden;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    text-shadow: 1px 1px #FFFDD7;
    z-index: 1;
}

#info {
    margin: auto;
    width: 100vh;
    margin-top: 30vh;
    padding: 30px;
    background-size: cover;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 0.7);
}

#select-place {
    height: 10vh;
    padding: 5px;
    margin: auto;
    color: black;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#date {
    margin: auto;
    text-align: center;

    font-size: 50px;
}


#icon-location {
    cursor: pointer;
    padding: 5px;
    float: right;
    width: 50px;
    padding-bottom: 3px;
    transition: all 2s ease;
}

#icon-location:hover {
    transform: scale(1.5);
}

#or {
    float: left;
    margin-right: 8px;
}

#enter-city {
    float: left;
    font-size: 30px;
    position: relative;
    z-index: 2;
}

#current-location {
    float: right;
}

#enter-city__input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid black;
    color: black;
    padding: 5px;
    font-weight: 900;
    letter-spacing: 0.1em;
    max-width: 100%;
    font-family: 'Do Hyeon', sans-serif;
    text-shadow: 1px 1px #FFFDD7;
text-transform: lowercase;
}

::-webkit-input-placeholder {
    color: black;
}
:-moz-placeholder { /* Firefox 18- */
    color: black;
}
::-moz-placeholder { /* Firefox 19+ */
    color: black;
}
:-ms-input-placeholder {
    color: black;
}

#enter-city__input:focus {
    box-shadow: -1px 1px 20px 8px rgba(89, 83, 247, .6);
    outline-color: #90948F;
    border-bottom: 0;
}


#enter-city__ok {
    background: transparent;
    border: 0;
    border-bottom: 2px solid black;
    font-family: 'Do Hyeon', sans-serif;
    color: black;
    padding: 5px;
    padding-right: 8px;
    cursor: pointer;
    font-weight: 900;
    text-shadow: 2px 2px #FFFDD7;
    letter-spacing: 0.2em;
    transition: all 1s ease;
}


#enter-city__ok:focus {
    outline-color: transparent;
}

#enter-city__ok:hover {
    transform: scale(1.5);
}

#city-not-found {
    padding-left: 5px;
    color: #b03911;
    display: none;
    font-size: 17px;
    text-shadow: none;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.1em;
}

.horizontal-line {
    display: none;
}


#temperature {
    text-shadow: 3px 2px #FFFDD7;
    font-size: 25px;
}


.sun {
    width: 140px;
    margin: auto;
    padding-left: 60px;
    margin-bottom: 13px;
}

.icon-sun {
    position: absolute;
    width: 40px;
    height: 30px;
    display: none;
    padding-right: 17px;
}

#time-sunset {
    position: absolute;
    margin-left: 25px;
}

#time-sunrise {
    position: absolute;
    margin-left: 25px;
}

#name-city {
    padding: 10px;
    font-size: 32px;
    text-shadow: 4px 4px #FFFDD7;
}

.date {
    font-size: 1.25rem;
}

.opacity-bg {
    background-color: rgba(77, 77, 77, 0.94);
}

.clear-sky {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1430263326118-b75aa0da770b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80') !important;
}

.few-clouds {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1470334165954-365e14d84faa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80") !important;
}

.cloudy {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1534088568595-a066f410bcda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=389&q=80") !important;
}

.rain {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1486016006115-74a41448aea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80") !important;
}

.thunderstorm {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1509401934319-cb35b87bf39e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") !important;
}

.snow {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1491002052546-bf38f186af56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=783&q=80") !important;
}

.mist {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1482841628122-9080d44bb807?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80") !important;

}

@media (orientation: portrait ) and (min-width: 300px) and (max-width: 1050px) {
    .col-auto {
        z-index: 0;
        padding-left: 0;
        margin: auto;
        width: 140px;
        padding-top: 20px;
    }

    #enter-city {
        float: none;
        text-align: center;
        font-size: 1.25rem;
        margin: auto;
    }

    #select-place {
        margin: auto;
    }


    #date {
        margin-top: 20px;
    }

    .horizontal-line-active {
        margin-top: 70px;
        background-color: rgba(0, 0, 0, 0.6);
        width: 80%;
        height: 3px;
        display: flex;
        border-radius: 50%;
    }

}

.dev-icons {
    font-size: 2rem;
}

.dev-icons i:hover {
    color: #0D0D78;
}
